#dropWrapper {
  display: flex;
  flex-direction: row;
}

#dropWrapper > section {
  flex: 1
}

#dropWrapper > section > div {
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  min-height: 30vw;
}

#dropWrapper > section > div:not(.filecontent) {
  align-items: center;
  justify-content: center;
}

#diffResult {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

ins {
  text-decoration: none;
  background-color: #d4fcbc;
}

del {
  text-decoration: line-through;
  background-color: #fbb6c2;
  color: #555;
}